@model PagedList.IPagedList<ATMSystemGroup4.Models.Log>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lịch sử";
}

<h2>Xem lịch sử giao dịch</h2>
<fieldset>
    <legend>Lịch sử @ViewBag.Period trước (Có @ViewBag.CountLogs bản ghi )</legend>

    <table style="background-color:transparent; color:blue">
        <tr>
            <th style="background-color:transparent; color:blue">
                ATM (Địa điểm)
            </th>
            <th style="background-color:transparent; color:blue">
                LogType (Loại giao dịch)
            </th>
            <th style="background-color:transparent; color:blue">
                LogDate (Ngày giao dịch)
            </th>
            <th style="background-color:transparent; color:blue">
                Số tiền (VNĐ)
            </th>
            <th style="background-color:transparent; color:blue">
                Chi tiết
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => i)
                </td>*@
                <td>
                    1
                </td>
                <td style="background-color:transparent; color:black">
                    @Html.DisplayFor(modelItem => item.LogType.Description)
                </td>
                <td style="background-color:transparent; color:black">
                    @Html.DisplayFor(modelItem => item.LogDate)
                </td>
                <td style="background-color:transparent; color:black">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="background-color:transparent; color:black">
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
            </tr>
        }

    </table>

    <br />
    <div id="page">
        Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("ViewHistory", "Log", new { page = page, period = @ViewBag.Period }))
    </div>
</fieldset>
